[user]
	name = Niek Vervaeke
	email = niek.vervaeke@gmail.com
[push]
	default = current
[alias]
	lg = log --all --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	l = log --all --graph --pretty=format:\"%C(yellow)%h %Creset%C(cyan)%cd %C(green)%ce %Creset%s%C(cyan)%C(bold)%d\"
	sl = shortlog --format='%C(yellow)%h %C(cyan)%cd %C(green)%ce %Creset%s'
