[user]
	name = Niek Vervaeke
	email = niek.vervaeke@gmail.com
[push]
	default = current
[alias]
	l = log --all --graph --pretty=format:'%C(blue)%h %Creset%C(dim white)%cd %Creset%s %C(dim white)(%cn) %C(cyan)%C(bold)%d' --date=local
	sl = shortlog --format='%C(yellow)%h %C(cyan)%cd %C(green)%ce %Creset%s'
[core]
	editor = /usr/bin/vim
